APP_HOST=localhost
APP_PORT=7777
APP_URL=http://${APP_HOST}:${APP_PORT}

POSTGRES_USER=admin
POSTGRES_PASSWORD=admin
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=labor-exchange
POOL_SIZE=10

POSTGRES_KEYCLOAK_USER=keycloak
POSTGRES_KEYCLOAK_PASSWORD=keycloak
POSTGRES_KEYCLOAK_HOST=localhost
POSTGRES_KEYCLOAK_PORT=5433
POSTGRES_KEYCLOAK_DB=keycloak

KC_CLIENT_ID=backend
KC_CLIENT_SECRET=secret
KC_REALM_NAME=labor-exchange
KC_HOSTNAME=localhost
KC_PORT=8080
KC_PROXY=none
KC_HTTP_ENABLED=true
KC_LOG_LEVEL=INFO
KEYCLOAK_ADMIN=admin
KEYCLOAK_ADMIN_PASSWORD=admin
KC_DB=postgres
KC_DB_USERNAME=${POSTGRES_KEYCLOAK_USER}
KC_DB_PASSWORD=${POSTGRES_KEYCLOAK_PASSWORD}
KC_DB_URL=jdbc:postgresql://db-keycloak:5432/${POSTGRES_KEYCLOAK_DB}
